<NotepadPlus>
    <Project name="blog">
        <Folder name="app">
            <Folder name="assets">
                <Folder name="images">
                    <File name="app\assets\images\.keep" />
                </Folder>
                <Folder name="javascripts">
                    <File name="app\assets\javascripts\application.js" />
                    <File name="app\assets\javascripts\comments.js.coffee" />
                    <File name="app\assets\javascripts\posts.js.coffee" />
                </Folder>
                <Folder name="stylesheets">
                    <File name="app\assets\stylesheets\application.css" />
                    <File name="app\assets\stylesheets\comments.css.scss" />
                    <File name="app\assets\stylesheets\posts.css.scss" />
                    <File name="app\assets\stylesheets\scaffolds.css.scss" />
                </Folder>
            </Folder>
            <Folder name="controllers">
                <Folder name="concerns">
                    <File name="app\controllers\concerns\.keep" />
                </Folder>
                <File name="app\controllers\application_controller.rb" />
                <File name="app\controllers\comments_controller.rb" />
                <File name="app\controllers\posts_controller.rb" />
            </Folder>
            <Folder name="helpers">
                <File name="app\helpers\application_helper.rb" />
                <File name="app\helpers\comments_helper.rb" />
                <File name="app\helpers\posts_helper.rb" />
            </Folder>
            <Folder name="mailers">
                <File name="app\mailers\.keep" />
            </Folder>
            <Folder name="models">
                <Folder name="concerns">
                    <File name="app\models\concerns\.keep" />
                </Folder>
                <File name="app\models\.keep" />
                <File name="app\models\comment.rb" />
                <File name="app\models\post.rb" />
            </Folder>
            <Folder name="views">
                <Folder name="comments">
                    <File name="app\views\comments\edit.html.erb" />
                    <File name="app\views\comments\index.html.erb" />
                    <File name="app\views\comments\index.json.jbuilder" />
                    <File name="app\views\comments\new.html.erb" />
                    <File name="app\views\comments\show.html.erb" />
                    <File name="app\views\comments\show.json.jbuilder" />
                    <File name="app\views\comments\_form.html.erb" />
                </Folder>
                <Folder name="layouts">
                    <File name="app\views\layouts\application.html.erb" />
                </Folder>
                <Folder name="posts">
                    <File name="app\views\posts\edit.html.erb" />
                    <File name="app\views\posts\index.html.erb" />
                    <File name="app\views\posts\index.json.jbuilder" />
                    <File name="app\views\posts\new.html.erb" />
                    <File name="app\views\posts\show.html.erb" />
                    <File name="app\views\posts\show.json.jbuilder" />
                    <File name="app\views\posts\_form.html.erb" />
                </Folder>
            </Folder>
        </Folder>
        <Folder name="bin">
            <File name="bin\bundle" />
            <File name="bin\rails" />
            <File name="bin\rake" />
        </Folder>
        <Folder name="config">
            <Folder name="environments">
                <File name="config\environments\development.rb" />
                <File name="config\environments\production.rb" />
                <File name="config\environments\test.rb" />
            </Folder>
            <Folder name="initializers">
                <File name="config\initializers\backtrace_silencers.rb" />
                <File name="config\initializers\filter_parameter_logging.rb" />
                <File name="config\initializers\inflections.rb" />
                <File name="config\initializers\mime_types.rb" />
                <File name="config\initializers\secret_token.rb" />
                <File name="config\initializers\session_store.rb" />
                <File name="config\initializers\wrap_parameters.rb" />
            </Folder>
            <Folder name="locales">
                <File name="config\locales\en.yml" />
            </Folder>
            <File name="config\application.rb" />
            <File name="config\boot.rb" />
            <File name="config\database.yml" />
            <File name="config\environment.rb" />
            <File name="config\routes.rb" />
        </Folder>
        <Folder name="db">
            <Folder name="migrate">
                <File name="db\migrate\20140330201727_create_posts.rb" />
                <File name="db\migrate\20140330201829_create_comments.rb" />
            </Folder>
            <File name="db\seeds.rb" />
        </Folder>
        <Folder name="lib">
            <Folder name="assets">
                <File name="lib\assets\.keep" />
            </Folder>
            <Folder name="tasks">
                <File name="lib\tasks\.keep" />
            </Folder>
        </Folder>
        <Folder name="log">
            <File name="log\.keep" />
            <File name="log\development.log" />
        </Folder>
        <Folder name="public">
            <File name="public\404.html" />
            <File name="public\422.html" />
            <File name="public\500.html" />
            <File name="public\favicon.ico" />
            <File name="public\robots.txt" />
        </Folder>
        <Folder name="test">
            <Folder name="controllers">
                <File name="test\controllers\.keep" />
                <File name="test\controllers\comments_controller_test.rb" />
                <File name="test\controllers\posts_controller_test.rb" />
            </Folder>
            <Folder name="fixtures">
                <File name="test\fixtures\.keep" />
                <File name="test\fixtures\comments.yml" />
                <File name="test\fixtures\posts.yml" />
            </Folder>
            <Folder name="helpers">
                <File name="test\helpers\.keep" />
                <File name="test\helpers\comments_helper_test.rb" />
                <File name="test\helpers\posts_helper_test.rb" />
            </Folder>
            <Folder name="integration">
                <File name="test\integration\.keep" />
            </Folder>
            <Folder name="mailers">
                <File name="test\mailers\.keep" />
            </Folder>
            <Folder name="models">
                <File name="test\models\.keep" />
                <File name="test\models\comment_test.rb" />
                <File name="test\models\post_test.rb" />
            </Folder>
            <File name="test\test_helper.rb" />
        </Folder>
        <Folder name="tmp">
            <Folder name="cache">
                <Folder name="assets" />
            </Folder>
        </Folder>
        <Folder name="vendor">
            <Folder name="assets">
                <Folder name="javascripts">
                    <File name="vendor\assets\javascripts\.keep" />
                </Folder>
                <Folder name="stylesheets">
                    <File name="vendor\assets\stylesheets\.keep" />
                </Folder>
            </Folder>
        </Folder>
        <File name=".gitignore" />
        <File name="config.ru" />
        <File name="Gemfile" />
        <File name="Gemfile.lock" />
        <File name="Page de test pour HTML Agility Pack.htm" />
        <File name="Rakefile" />
        <File name="README.rdoc" />
    </Project>
</NotepadPlus>
